$blue: #adf;
$purple: #a5f;
$white: #fff;
$black: #000;
$orange: #fd8;
$green: #8f8;
$salmon: #f88;
$yellow: #ff8;
html, body {height: 98%;}
body {
  background-color: $blue;
  color: $white;
  font-size: 25px;
  text-shadow: -1px -1px 0 $black,
		1px -1px 0 $black,
		-1px 1px 0 $black,
		1px 1px 0 $black;
  padding: 10px;
  font-family: arial;
  
  a {
    color: $white;
    text-decoration: none;
    font-size: 80%;
    padding: 0 10px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  p {
    font-size: 16px;
    margin: 10px;
    color: $black;
    text-shadow: none;
    background: $white;
    padding: 10px;
  }
}
header {
  background-color: $purple;
  a {color: $yellow;}
}
aside {background-color: $orange;}
main {background-color: $green;}
footer {background-color: $salmon;}

section {
  min-height: 100%;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "menu menu"
    "sidebar content"
    "foot foot";
  grid-gap: 5px;
  
  header {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  aside {grid-area: sidebar;}
  main {grid-area: content;}
  footer {
    grid-area: foot;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media(max-width: 592px) {
  section {
    grid-template-areas:
      "menu menu"
      "sidebar sidebar"
      "content content"
      "foot foot";
    grid-template-rows: repeat(4, 1fr);
  }
}
